{% raw %}{{ range ls "service/nginx/auth/users" }}{{ .Key }}:{{ .Value }}
{{ end }}{{ range ls "{% endraw %}{{ mesos_leader_framework_kv }}{% raw %}" }}{{ .Key }}:{PLAIN}{{ .Value }}
{{ end }}{{ range ls "{% endraw %}{{ mesos_leader_follower_kv }}{% raw %}" }}{{ .Key }}:{PLAIN}{{ .Value }}
{{ end }}{% endraw %}
